@model Entity.ViewModel.UserViewModel

@{
    ViewData["Title"] = "Add User";
}

<h2>Add New User</h2>

<div class="form mt-3">
    <form asp-controller="User" asp-action="AddUser" method="post" enctype="multipart/form-data">
        <div class="col-xl-12">
            <div class="row">
                <div class="form-floating col">
                    <input type="text" class="form-control twoc" id="FirstName" asp-for="FirstName">
                    <label for="FirstName" class="float">First Name</label>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating col">
                    <input type="text" class="form-control twoc" id="LastName" asp-for="LastName">
                    <label for="LastName" class="float">Last Name</label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
        </div>

        <br>

        <div class="col-xl-12">
            <div class="row">
                <div class="form-floating col">
                    <input type="text" class="form-control twoc" id="Username" asp-for="Username">
                    <label for="Username" class="float">User Name</label>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-floating col">
                <select id="RoleId" name="RoleId" class="form-control" asp-items="ViewBag.Roles"></select>
                <label for="RoleId" class="float">Role</label>
                </div>
            </div>
        </div>

        <br>

        <div class="col-xl-12">
            <div class="row">
                <div class="form-floating col">
                    <input type="text" class="form-control twoc" id="Email" asp-for="Email">
                    <label for="Email" class="float">Email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating col">
                    <input type="password" class="form-control twoc" id="password" asp-for="passwordHash">
                    <label for="passwordHash" class="float">Password</label>
                    <span asp-validation-for="passwordHash" class="text-danger"></span>
                </div>
            </div>
        </div>

        <br>
        <div class="col-xl-12">
            <div class="row">
                 <div class="form-floating col">
                    <input type="file" class="form-control" id="ProfilePicture" name="ProfilePicture">
                    <label for="ProfilePicture" class="float">Profile Picture</label>
                </div>
            </div>
        </div>

        <br>

        <div class="col-xl-12">
            <div class="row">
                <div class="form-floating col">
                    <select id="CountryId" name="CountryId" class="form-control" asp-items="ViewBag.Countries"></select>
                    <label for="CountryId" class="float">Country</label>
                </div>
                <div class="form-floating col">
                    <select id="StateId" name="StateId" class="form-control"></select>
                    <label for="StateId" class="float">State</label>
                </div>
                <div class="form-floating col">
                    <select id="CityId" name="CityId" class="form-control"></select>
                    <label for="CityId" class="float">City</label>
                </div>
            </div>
        </div>

        <br>
        <div class="col-xl-12">
            <div class="row">
                <div class="form-floating col">
                    <input type="text" class="form-control twoc" id="Zipcode" asp-for="Zipcode">
                    <label for="Zipcode" class="float">ZipCode</label>
                </div>
                <div class="form-floating col">
                    <input type="text" class="form-control twoc" id="Address" asp-for="Address">
                    <label for="Address" class="float">Address</label>
                </div>
                 <div class="form-floating col">
                    <input type="text" class="form-control twoc" id="Phone" asp-for="Phone">
                    <label for="Phone" class="float">Phone</label>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
        </div>

        <br>

        <div class="form-group p-3 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary m-1">Create User</button>
            <button asp-controller="User" asp-action="UserList" class="btn btn-outline-primary m-1">Cancel</button>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#CountryId").change(function () {
                $.getJSON('/User/GetStates', { countryId: $(this).val() }, function (data) {
                    var stateDropdown = $("#StateId");
                    stateDropdown.empty().append('<option>Select State</option>');
                    $.each(data, function (i, state) {
                        stateDropdown.append('<option value="' + state.id + '">' + state.name + '</option>');
                    });
                });
            });

            $("#StateId").change(function () {
                $.getJSON('/User/GetCities', { stateId: $(this).val() }, function (data) {
                    var cityDropdown = $("#CityId");
                    cityDropdown.empty().append('<option>Select City</option>');
                    $.each(data, function (i, city) {
                        cityDropdown.append('<option value="' + city.id + '">' + city.name + '</option>');
                    });
                });
            });
        });
    </script>
}
