@model Entity.ViewModel.UserViewModel

@{
    ViewData["Title"] = "Add User";
}
<div class="d-flex justify-content-between align-items-center m-3">
    <div>
        <h2 class="dt p-2">Add New User</h2>
    </div>
    <div>
        <a asp-controller="User" asp-action="UserList" class="btn cancel-button" style="background:transparent;">
            &lt; Back</a>
    </div>
</div>

<div class="form mt-3">
    <form asp-controller="User" asp-action="AddUser" method="post" enctype="multipart/form-data" id="addUserForm">
        <div class="row">
            <div class="form-floating col-md-6">
                <input type="text" class="form-control twoc" id="FirstName" asp-for="FirstName">
                <label for="FirstName" class="float">First Name</label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating col-md-6">
                <input type="text" class="form-control twoc" id="LastName" asp-for="LastName">
                <label for="LastName" class="float">Last Name</label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-floating col-md-6">
                <input type="text" class="form-control twoc" id="Username" asp-for="Username">
                <label for="Username" class="float">User Name</label>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-floating col-md-6">
                <select id="RoleId" name="RoleId" class="form-select" asp-items="ViewBag.Roles">
                    <option value="">Select Role</option>
                </select>
                <label for="RoleId" class="float">Role</label>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-floating col-md-6">
                <input type="text" class="form-control twoc" id="Email" asp-for="Email">
                <label for="Email" class="float">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating col-md-6">
                <input type="password" class="form-control twoc" id="password" asp-for="PasswordHash">
                <label for="PasswordHash" class="float">Password</label>
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
        </div>
        <br>
        <div class="row">
        <div class="form-floating col">
            <input type="file" class="form-control" id="ProfileImage" asp-for="ProfileImage">
            <label for="ProfileImage" class="float">Profile Image</label>
            <span asp-validation-for="ProfileImage" class="text-danger"></span>
        </div>
    </div>
        <br>
        <div class="row">
            <div class="form-floating col-md-4">
                <select id="CountryId" name="CountryId" class="form-select" asp-items="ViewBag.Countries">
                    <option value="">Select Country</option>
                </select>
                <label for="CountryId" class="float">Country</label>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-floating col-md-4">
                <select id="StateId" name="StateId" class="form-select">
                    <option value="">Select State</option>
                </select>
                <label for="StateId" class="float">State</label>
                <span asp-validation-for="StateId" class="text-danger"></span>
            </div>
            <div class="form-floating col-md-4">
                <select id="CityId" name="CityId" class="form-select">
                    <option value="">Select City</option>
                </select>
                <label for="CityId" class="float">City</label>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-floating col-md-4">
                <input type="text" class="form-control twoc" id="Zipcode" asp-for="Zipcode">
                <label for="Zipcode" class="float">ZipCode</label>
                <span asp-validation-for="Zipcode" class="text-danger"></span>
            </div>
            <div class="form-floating col-md-4">
                <input type="text" class="form-control twoc" id="Address" asp-for="Address">
                <label for="Address" class="float">Address</label>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-floating col-md-4">
                <input type="text" class="form-control twoc" id="Phone" asp-for="Phone">
                <label for="Phone" class="float">Phone</label>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <br>
        <div class="form-group p-3 d-flex justify-content-start">
            <button type="submit" class="btn update-button m-1">Create User</button>
            <button asp-controller="User" asp-action="UserList" class="btn cancel-button m-1">Cancel</button>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#CountryId").change(function () {
                $.getJSON('/User/GetStates', { countryId: $(this).val() }, function (data) {
                    var stateDropdown = $("#StateId");
                    stateDropdown.empty().append('<option value="">Select State</option>');
                    $.each(data, function (i, state) {
                        stateDropdown.append('<option value="' + state.id + '">' + state.name + '</option>');
                    });
                });
            });

            $("#StateId").change(function () {
                $.getJSON('/User/GetCities', { stateId: $(this).val() }, function (data) {
                    var cityDropdown = $("#CityId");
                    cityDropdown.empty().append('<option value="">Select City</option>');
                    $.each(data, function (i, city) {
                        cityDropdown.append('<option value="' + city.id + '">' + city.name + '</option>');
                    });
                });
            });

            $('#addUserForm').submit(function (e) {
                if (!$(this).valid()) {
                    e.preventDefault(); 

                    $('.text-danger').each(function () {
                        if ($(this).text() !== '') {
                            toastr.error($(this).text());
                        }
                    });
                }
            });
        });
         @if (TempData["SuccessMessage"] != null)
            {
                <text>
                    toastr.success('@TempData["SuccessMessage"]');
                </text>
        }
            @if (TempData["ErrorMessage"] != null)
            {
                <text>
                    toastr.error('@TempData["ErrorMessage"]');
                </text>
        }
        });
    </script>
}
