@{
    Layout = ViewBag.UseOrderAppLayout ? "_OrderAppLayout" : "_Layout";
    ViewData["Title"] = "Change Password";
}
@model Entity.ViewModel.ChangePasswordModel;
<div style="height:100%;">
    <h2 class="dt">Change Password</h2>
    <div class="col-md-3">
        <form asp-action="ChangePassword" asp-controller="User" method="post" id="changePasswordForm"
            class="needs-validation">
            <p style="color:grey">Enter a new password to update your account credentials</p>
            <div class="d-flex ">
                <input asp-for="CurrentPassword" type="password" class="form-control box" id="CurrentPassword"
                    placeholder="Current Password*">
                <div class="position-">
                    <i class="fa fa-eye eye-icon" onclick="togglePassword('CurrentPassword', this)"></i>
                </div>
            </div>
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            <div class="d-flex mt-3">
                <input asp-for="NewPassword" type="password" class="form-control box" id="NewPassword"
                    placeholder="New Password*">
                <div class="position-">
                    <i class="fa fa-eye eye-icon" onclick="togglePassword('NewPassword', this)"></i>
                </div>
            </div>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
            <div class="d-flex mt-3">
                <input asp-for="ConfirmNewPassword" type="password" class="form-control box" id="ConfirmNewPassword"
                    placeholder="Confirm New Password*">
                <div class="position-">
                    <i class="fa fa-eye eye-icon" onclick="togglePassword('ConfirmNewPassword', this)"></i>
                </div>
            </div>
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            <div class="form-group d-flex mt-3 justify-content-start">
                <button type="submit" class="btn update-button m-1" value="Change Password">Submit</button>
                <button class="btn cancel-button m-1" type="button" id="Cancel" onclick="history.back();">Cancel</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        function togglePassword(inputId, icon) {
            var passwordField = document.getElementById(inputId);
            if (passwordField.type === "password") {
                passwordField.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                passwordField.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }

        $(document).ready(function () {
            $('#changePasswordForm').submit(function (e) {
                if (!$(this).valid()) {
                    e.preventDefault();

                    $('.text-danger').each(function () {
                        if ($(this).text() !== '') {
                            toastr.error($(this).text());
                        }
                    });
                }
            });
            var successMessage = '@TempData["SuccessMessage"]';
            var errorMessage = '@TempData["ErrorMessage"]';

            if (successMessage) {
                toastr.success(successMessage);
            }
            if (errorMessage) {
                toastr.error(errorMessage);
            }
        });
    </script>
}
