@model Entity.ViewModel.UserViewModel

@{
    ViewData["Title"] = "Edit User";
}
<div class="d-flex justify-content-between align-items-center m-3 ">
    <div>
        <h2 class="dt p-2">Edit User</h2>
    </div>
    <div>
        <a asp-controller="User" asp-action="UserList" class="btn cancel-button ">
            Back</a>
    </div>
</div>
<div class="form">
    <form asp-controller="User" asp-action="EditUser" method="post" enctype="multipart/form-data">
        <div class="col-xl-12">
            <div class="row">
                <div class="form-floating col">
                    <input type="text" class="form-control twoc" id="FirstName" asp-for="FirstName">
                    <label for="FirstName" class="float">First Name</label>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating col">
                    <input type="text" class="form-control twoc" id="LastName" asp-for="LastName">
                    <label for="LastName" class="float">Last Name</label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
        </div>

        <br>

        <div class="col-xl-12">
            <div class="row">
                <div class="form-floating col">
                    <input type="text" class="form-control twoc" id="Username" asp-for="Username">
                    <label for="Username" class="float">User Name</label>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-floating col">
                    <select id="RoleId" name="RoleId" class="form-control" asp-items="ViewBag.Roles"></select>
                    <label for="RoleId" class="float">Role</label>
                </div>
            </div>
        </div>

        <br>

        <div class="col-xl-12">
            <div class="row">
                <div class="form-floating col">
                    <input type="text" class="form-control twoc" id="Email" asp-for="Email" disabled>
                    <label for="Email" class="float">Email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating col">
                    <select id="Status" name="Status" class="form-control" asp-for="Status">
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                    <label for="Status" class="float">Status</label>
                </div>
            </div>
        </div>

        <br>
        <div class="col-xl-12">
            <div class="row">
                <div class="form-floating col">
                    <input type="file" class="form-control" id="ProfilePicture" name="ProfilePicture">
                    <label for="ProfilePicture" class="float">Profile Picture</label>
                </div>
            </div>
        </div>

        <br>

        <div class="col-xl-12">
            <div class="row">
                <div class="form-floating col">
                    <select id="CountryId" name="CountryId" class="form-control" asp-items="ViewBag.Countries"></select>
                    <label for="CountryId" class="float">Country</label>
                </div>
                <div class="form-floating col">
                    <select id="StateId" name="StateId" class="form-control" asp-items="ViewBag.States"></select>
                    <label for="StateId" class="float">State</label>
                </div>
                <div class="form-floating col">
                    <select id="CityId" name="CityId" class="form-control" asp-items="ViewBag.Cities"></select>
                    <label for="CityId" class="float">City</label>
                </div>
            </div>
        </div>

        <br>
        <div class="col-xl-12">
            <div class="row">
                <div class="form-floating col">
                    <input type="text" class="form-control twoc" id="Zipcode" asp-for="Zipcode">
                    <label for="Zipcode" class="float">ZipCode</label>
                </div>
                <div class="form-floating col">
                    <input type="text" class="form-control twoc" id="Address" asp-for="Address">
                    <label for="Address" class="float">Address</label>
                </div>
                <div class="form-floating col">
                    <input type="text" class="form-control twoc" id="Phone" asp-for="Phone">
                    <label for="Phone" class="float">Phone</label>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
        </div>

        <br>

        <div class="form-group p-3 d-flex justify-content-start">
            <button type="submit" class="btn update-button m-1">Update User</button>
            <button asp-controller="User" asp-action="UserList" class="btn cancel-button m-1">Cancel</button>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#CountryId").change(function () {
                $.getJSON('/User/GetStates', { countryId: $(this).val() }, function (data) {
                    var stateDropdown = $("#StateId");
                    stateDropdown.empty().append('<option>Select State</option>');
                    $.each(data, function (i, state) {
                        stateDropdown.append('<option value="' + state.id + '">' + state.name + '</option>');
                    });
                });
            });

            $("#StateId").change(function () {
                $.getJSON('/User/GetCities', { stateId: $(this).val() }, function (data) {
                    var cityDropdown = $("#CityId");
                    cityDropdown.empty().append('<option>Select City</option>');
                    $.each(data, function (i, city) {
                        cityDropdown.append('<option value="' + city.id + '">' + city.name + '</option>');
                    });
                });
            });
        });
    </script>
}