@model Entity.ViewModel.UserViewModel

@{
    ViewData["Title"] = "Edit User";
}
<div class="d-flex justify-content-between align-items-center m-3">
    <div>
        <h2 class="dt p-2">Edit User</h2>
    </div>
    <div>
        <a asp-controller="User" asp-action="UserList" class="btn cancel-button">
            Back</a>
    </div>
</div>
<div class="form">
    <form asp-controller="User" asp-action="EditUser" method="post" enctype="multipart/form-data" id="editUserForm">
        <div class="col-xl-12">
            <div class="row">
                <div class="form-floating col">
                    <input type="text" class="form-control twoc" id="FirstName" asp-for="FirstName">
                    <label for="FirstName" class="float">First Name</label>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating col">
                    <input type="text" class="form-control twoc" id="LastName" asp-for="LastName">
                    <label for="LastName" class="float">Last Name</label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
        </div>

        <br>

        <div class="col-xl-12">
            <div class="row">
                <div class="form-floating col">
                    <input type="text" class="form-control twoc" id="Username" asp-for="Username">
                    <label for="Username" class="float">User Name</label>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-floating col">
                    <select id="RoleId" name="RoleId" class="form-select" asp-items="ViewBag.Roles"></select>
                    <label for="RoleId" class="float">Role</label>
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>
            </div>
        </div>

        <br>

        <div class="col-xl-12">
            <div class="row">
                <div class="form-floating col">
                    <input type="text" class="form-control twoc" id="Email" asp-for="Email" readonly>
                    <label for="Email" class="float">Email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating col">
                    <select id="Status" class="form-control" asp-for="IsActive">
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                    <label for="Status" class="float">Status</label>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                </div>
            </div>
        </div>

        <br>
        <div class="col-xl-12">
            <div class="row">
                <div class="form-floating col">
                    <input type="file" class="form-control" id="ProfileImage" name="ProfileImage">
                    <label for="ProfileImage" class="float">ProfileImage</label>
                </div>
            </div>
        </div>

        <br>

        <div class="col-xl-12">
            <div class="row">
                <div class="form-floating col">
                    <select id="CountryId" name="CountryId" class="form-select" asp-items="ViewBag.Countries"></select>
                    <label for="CountryId" class="float">Country</label>
                    <span asp-validation-for="CountryId" class="text-danger"></span>
                </div>
                <div class="form-floating col">
                    <select id="StateId" name="StateId" class="form-select" asp-items="ViewBag.States"></select>
                    <label for="StateId" class="float">State</label>
                    <span asp-validation-for="StateId" class="text-danger"></span>
                </div>
                <div class="form-floating col">
                    <select id="CityId" name="CityId" class="form-select" asp-items="ViewBag.Cities"></select>
                    <label for="CityId" class="float">City</label>
                    <span asp-validation-for="CityId" class="text-danger"></span>
                </div>
            </div>
        </div>

        <br>
        <div class="col-xl-12">
            <div class="row">
                <div class="form-floating col">
                    <input type="text" class="form-control twoc" id="Zipcode" asp-for="Zipcode">
                    <label for="Zipcode" class="float">ZipCode</label>
                    <span asp-validation-for="Zipcode" class="text-danger"></span>
                </div>
                <div class="form-floating col">
                    <input type="text" class="form-control twoc" id="Address" asp-for="Address">
                    <label for="Address" class="float">Address</label>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-floating col">
                    <input type="text" class="form-control twoc" id="Phone" asp-for="Phone">
                    <label for="Phone" class="float">Phone</label>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
        </div>

        <br>

        <div class="form-group p-3 d-flex justify-content-start">
            <button type="submit" class="btn update-button m-1">Update User</button>
            <button asp-controller="User" asp-action="UserList" class="btn cancel-button m-1">Cancel</button>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#CountryId").change(function () {
                $.getJSON('/User/GetStates', { countryId: $(this).val() }, function (data) {
                    var stateDropdown = $("#StateId");
                    stateDropdown.empty().append('<option value="">Select State</option>');
                    $.each(data, function (i, state) {
                        stateDropdown.append('<option value="' + state.id + '">' + state.name + '</option>');
                    });
                });
            });

            $("#StateId").change(function () {
                $.getJSON('/User/GetCities', { stateId: $(this).val() }, function (data) {
                    var cityDropdown = $("#CityId");
                    cityDropdown.empty().append('<option value="">Select City</option>');
                    $.each(data, function (i, city) {
                        cityDropdown.append('<option value="' + city.id + '">' + city.name + '</option>');
                    });
                });
            });

            $('#editUserForm').submit(function (e) {
                if (!$(this).valid()) {
                    e.preventDefault();

                    $('.text-danger').each(function () {
                        if ($(this).text() !== '') {
                            toastr.error($(this).text());
                        }
                    });
                }
            });
        });
    </script>
}