@model IEnumerable<Entity.ViewModel.SectionViewModel>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sections in Model)
        {
            <tr>
                <td>@sections.Name</td>
                <td>@sections.Description</td>
                <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#sectionModal" onclick="openAddEditModal(@sections.Id)">Edit</button>
                    <button class="btn btn-secondary" data-toggle="modal" data-target="#deleteModal" onclick="openDeleteModal(@sections.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>