@model IEnumerable<Entity.ViewModel.SectionViewModel>

<div>
    <h2>Sections</h2>
    <button class="btn btn-primary" data-toggle="modal" data-target="#sectionModal" onclick="openAddEditModal(0)">Add Section</button>
    <div id="sectionsList">
        @await Html.PartialAsync("_SectionsList", Model)
    </div>
</div>

<div class="modal fade" id="sectionModal" tabindex="-1" role="dialog" aria-labelledby="sectionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="modalContent"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="deleteModalContent"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function openAddEditModal(id) {
            $.get('@Url.Action("AddEditSection", "TableSection")' + '?id=' + id, function(data) {
                $('#modalContent').html(data);
                $('#sectionModal').modal('show');
            });
        }

        function openDeleteModal(id) {
            $.get('@Url.Action("ConfirmDeleteSection", "TableSection")' + '?id=' + id, function(data) {
                $('#deleteModalContent').html(data);
                $('#deleteModal').modal('show');
            });
        }

        function submitAddEditSectionForm(event) {
            event.preventDefault();
            var form = $(event.target);
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function (response) {
                    if (response.success) {
                        $('#sectionModal').modal('hide');
                        showSuccessMessage(response.message);
                        reloadSectionsList();
                    } else {
                        showErrorMessage(response.message);
                        $('#modalContent').html(response.html);
                    }
                },
                error: function (xhr, status, error) {
                    showErrorMessage("An error occurred. Please try again.");
                }
            });
        }

        function reloadSectionsList() {
            $.get('@Url.Action("Section", "TableSection")', function(data) {
                var html = $(data).find('#sectionsList').html();
                $('#sectionsList').html(html);
            });
        }

        $(document).on('submit', '#addEditSectionForm', submitAddEditSectionForm);

        function showSuccessMessage(message) {
            toastr.success(message);
        }

        function showErrorMessage(message) {
            toastr.error(message);
        }
    </script>
}