@model IEnumerable<Entity.Data.Role>

@{
    ViewData["Title"] = "Roles";
}

<h1>Roles</h1>

<table class="table rtable" style="width: 80%; padding: 50px;">
    <thead >
        <tr>
            <th>Role Name</th>
            <th class="d-flex justify-content-end">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td class="d-flex justify-content-end">
                    <a asp-action="Permissions" asp-route-id="@role.Id"><i class="bi bi-pen m-1"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>