@model List<Entity.ViewModel.MenuModifierGroupViewModel>

<div class="category-list">
    @foreach (var modifierGroup in Model)
    {
        <div class="d-flex flex-wrap justify-content-between align-items-center item-category-btn p-2 my-2 modifierGroup"
            data-id="@modifierGroup.Id">
            <div class="category-btn border-0 bg-light">
                <h6 class=" mb-0">
                    <i class="fa-solid fa-grip-vertical"></i>
                    @modifierGroup.Name
                </h6>
            </div>
            <span class="edit-delete-icon">
                <a href="javascript:void(0);" data-id="@modifierGroup.Id" class="edit-btn edit-category"
                    style="text-decoration: none; color: inherit;">
                    <i class="fa-solid fa-pencil m-1" data-bs-toggle="modal" data-bs-target="#EditCategoryModal"></i>
                </a>
                <i class="fa-regular fa-trash-can mx-2 delete-category" data-bs-target="#deleteCategoryModal"
                    data-bs-toggle="modal" id="deleteCategory" data-id="@modifierGroup.Id"></i>
            </span>
        </div>
    }
</div>