@using Entity.ViewModel
@model MenuCategoryViewModel
<div class="modal-header">
    <h5 class="modal-title" id="addCategoryModalLabel">Add Category</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="addCategoryForm" method="post" action="/menu/addcategory">
        <div class="form-group">
            <input type="text" class="form-control" name="Name" placeholder="Name*" required>
        </div>
        <br>
        <div class="form-group">
            <textarea class="form-control" name="Description" placeholder="Description"></textarea>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn update-btn" style="height: 40px; width: 80px;">Save</button>
            <button type="button" class="btn cancel-btn" data-bs-dismiss="modal" style="height: 40px; width: 80px;">Cancel</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#addCategoryForm').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                        toastr.success(response.message);
                        $('#addCategoryModal').modal('hide');
                        window.location.href = response.redirectUrl; 
                    } else {
                        toastr.error(response.message);
                        $('#formErrors').html(response.errors); 
                    }
                },
                error: function () {
                    toastr.error("An error occurred while adding the category.");
                }
            });
        });
    });
</script>