@model Entity.ViewModel.MenuCategoryViewModel

<div class="modal-header border-0">
    <h5 class="modal-title" id="exampleModalLabel" style="color:grey;">Edit Category</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body" style="color:grey;">
    <form id="editCategoryForm">
        <input type="hidden" id="editCategoryId" name="Id" value="@Model.Id" />
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="editCategoryName" name="Name" placeholder="Category" value="@Model.Name" />
            <label for="editCategoryName">Name*</label>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" name="Description" placeholder="Description" id="editCategoryDesc">@Model.Description</textarea>
            <label for="editCategoryDesc">Description</label>
        </div>
    </form>
    <div class="modal-footer d-flex justify-content-end border-0" style="padding-right:0;">
        <button type="button" class="btn update-button" data-bs-dismiss="modal" id="saveCategoryBtn" style="width: 80px;">Save</button>
        <button type="button" class="btn cancel-button" data-bs-dismiss="modal" style="width: 80px;">Cancel</button>
    </div>
</div>