@using Entity.ViewModel
@model ModifierViewModel

<div class="modal-header">
    <h5 class="modal-title">Edit Modifier</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="editModifierForm" method="post" asp-action="EditModifier" asp-controller="Modifier">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="form-group">
            <input type="text" class="form-control" name="Name" value="@Model.Name" required />
        </div>
        <br />
        <div class="form-group"> 
            <textarea class="form-control" name="Description" placeholder="Description">@Model.Description</textarea>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn" style="height: 40px; width: 80px; background-color: #0066A7; color: white;">Save</button>
            <button type="button" class="btn" data-bs-dismiss="modal" style="height: 40px; width: 80px; color: #0066A7; background-color: white; border: 1px solid #0066A7;">Cancel</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#editModifierForm').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                        toastr.success(response.message);
                        $('#editModifierModal').modal('hide');
                        window.location.href = response.redirectUrl;
                    } else {
                        toastr.error(response.message);
                    }
                },
                error: function () {
                    toastr.error("An error occurred while updating the modifier.");
                }
            });
        });
    });
</script>