<div class="row">
    <div class="col-md-4">
        <div id="categoryList">
            @Html.Partial("_CategoryList")
        </div>
    </div>
    <div class="col-md-8">
        <div id="itemList">
            @Html.Partial("_ItemList")
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function loadItems(categoryId) {
            $.ajax({
                url: '@Url.Action("LoadItems", "Menu")',
                data: { categoryId: categoryId },
                type: 'GET',
                success: function (data) {
                    $('#itemList').html(data);
                }
            });
        }
    </script>
}