@model Entity.ViewModel.ItemTabViewModel
<style>
    #multiDeleteBtn {
        width: 40px;
        height: 43px;
        margin: 5px;
        background-color: white;
        border: 1px solid #bbbbbb;
        border-radius: 5px;
    }
</style>
<section>
    <div class="row mx-0" style="border-radius: 5px;">
        <aside class="col-md-3 col-xl-2 left-section"
            style="background-image: linear-gradient(to right, white, #f2f2f2);">
            <!-- Category header -->
            <div class="d-flex flex-wrap justify-content-between align-items-center pt-3 pb-4" style="color: #0066A7;">
                <h5>Categories</h5>
                <i class="cat-i fa-regular fa-square-plus" id="Addcategory" data-bs-toggle="modal"
                    data-bs-target="#addCategoryModal" style="height: 30px; width:30px;"></i>
            </div>
            <!-- Category list -->
            <div id="categoryList">
                <partial name="_CategoryList" model="Model.categoryList" />
            </div>
        </aside>
        <div class="col-md-9 col-xl-10 border-custom bg-white">
            <div class="d-flex justify-content-between align-items-center pt-3 pb-3">
                <!-- Item header -->
                <div>
                    <h5 class="p-2 mb-0" style="color:#0066A7">Items</h5>
                </div>
                <div class="d-flex upper-div justify-content-end align-items-center mb-3">
                    <div class="d-flex justify-content-center align-items-center ">
                        <div class="search-box" style="margin-right: 13px;">
                            <input type="text" placeholder="Search" name="search" id="searchString" />
                            <i class="fa-solid fa-magnifying-glass search-btn part-2"></i>
                        </div>
                    </div>
                    <button id="multiDeleteBtn">
                        <i class="bi bi-trash m-1 massdelete" style="cursor: pointer; color: #adadad;"></i>
                    </button>
                    <button class="btn btn-primary addItemBtn" style="border-radius: 5px;  margin:5px; height:43px;">
                        <span class="part-1"><i class="fa-solid fa-plus "></i></span>
                        <span class="part-2"> New Item </span>
                    </button>
                </div>
            </div>
            <!-- Items Table -->
            <div id="itemList">
                <partial name="_ItemListPartial" model="Model" />
            </div>

        </div>
    </div>
</section>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
$(document).ready(function () {
    // Function to Get Filtered Categories
    function GetFilteredCategory() {
        $.ajax({
            url: "/Menu/GetAllCategory",
            type: "GET",
            data: {},
            success: function (data) {
                $("#categoryList").html(data);
            },
                error: handleAjaxError
        });
    }

    function GetFilteredItems() {
        $.ajax({
            url: "/Menu/GetAllItems",
            type: "GET",
            data: {},
            success: function (data) {
                $("#itemList").html(data);
            },
                error: handleAjaxError
        });
    }

    $(".addItemBtn").click(function () {
        $.get('@Url.Action("AddItem", "Menu")', function (data) {
            $("#AddItemPartial").html(data);
            $("#addItemModal").modal('show');
        });
    });

    $(".itemCategory").first().addClass("active-new");
    $(".itemCategory").click(function () {
        $(".itemCategory").removeClass("active-new");
        $(this).addClass("active-new");
    });

    $(document).on('click', '.edit-category', function () {
        var categoryId = $(this).data("id");
        $.ajax({
            url: '/Menu/EditCategory',
            type: 'GET',
            data: { id: categoryId },
            success: function (response) {
                $("#editCategoryModalContent").html(response);
                $("#EditCategoryModal").modal('show');
            },
               error: handleAjaxError

        });
    });

    $(document).on('click', '#saveCategoryBtn', function (event) {
        event.preventDefault();
        var form = $('#editCategoryForm');
        var formData = form.serialize();

        $.ajax({
            type: "POST",
            url: '/Menu/EditCategory',
            data: formData,
            success: function (response) {
                if (response.success) {
                    GetFilteredCategory();
                    $('#EditCategoryModal').modal('hide');
                    toastr.success(response.message);
                } else {
                    toastr.error(response.message);
                }
            },
                error: handleAjaxError

        });
    });

    $(document).on('click', '#submitNewCategory', function (event) {
        event.preventDefault();
        var form = $('#addNewCategoryForm');
        var formData = form.serialize();

        $.ajax({
            type: "POST",
            url: '/Menu/AddCategory',
            data: formData,
            success: function (response) {
                console.log("Response received:", response);
                if (response.success) {
                    GetFilteredCategory();
                    $('#addCategoryModal').modal('hide');
                    $('.modal-backdrop').remove();
                    toastr.success(response.message);
                } else {
                    toastr.error(response.message);
                }
            },
                error: handleAjaxError

        });
    });

   $(document).on('click', '.delete-category', function () {
        categoryIdToDelete = $(this).data("id");
        $('#deleteCategoryModal').modal('show');
    });

    $('#confirmDeleteCategoryItemBtn').click(function () {
        $.ajax({
            type: "POST",
            url: '/Menu/DeleteCategory',
            data: { id: categoryIdToDelete },
            success: function (response) {
                if (response.success) {
                    $('#deleteCategoryModal').modal('hide');
                    GetFilteredCategory();
                    toastr.success(response.message);
                } else {
                    toastr.error(response.message);
                }
            },
                error: handleAjaxError

        });
    });

    $('#multiDeleteBtn').click(function () {
        if (deleteItemIds.length == 0) {
            toastr.warning("Select at Least One Item");
        } else {
            $('#deleteMultipleItemModal').modal('show');
        }
    });

    $('#multiDeleteItemBtn').click(function () {
        $.ajax({
            url: "/Menu/MultiDeleteMenuItem",
            type: 'POST',
            data: {
                itemIds: deleteItemIds
            },
            success: function (response) {
                if (response == null)
                    window.location.href = "/unauthorized";
                if (response.isSuccess) {
                    GetFilteredItems();
                    toastr.success(response.message);
                } else {
                    toastr.error(response.message);
                }
                $("#deleteMultipleItemModal").modal('hide');
            },
                error: handleAjaxError
        });
    });

     $('.modal').on('hidden.bs.modal', function () {
        $(this).removeData('bs.modal');
    });
});
</script>