<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Rate</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var modifier in Model.Modifiers)
        {
            <tr>
                <td>@modifier.Name</td>
                <td>@modifier.Rate</td>
                <td>@modifier.Quantity</td>
            </tr>
        }
    </tbody>
</table>