@{
    ViewBag.Title = "Menu Page";
}

<h2>Menu Page</h2>

<div>
    <ul class="nav nav-tabs" id="menuTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="items-tab" data-toggle="tab" href="#items" role="tab" aria-controls="items" aria-selected="true">Items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="modifiers-tab" data-toggle="tab" href="#modifiers" role="tab" aria-controls="modifiers" aria-selected="false">Modifiers</a>
        </li>
    </ul>
    <div class="tab-content" id="menuTabsContent">
        <div class="tab-pane fade show active" id="items" role="tabpanel" aria-labelledby="items-tab">
            @Html.Partial("_ItemTab")
        </div>
        <div class="tab-pane fade" id="modifiers" role="tabpanel" aria-labelledby="modifiers-tab">
            @Html.Partial("_ModifierTab")
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#items-tab').on('shown.bs.tab', function (e) {
                loadItemsTab();
            });

            $('#modifiers-tab').on('shown.bs.tab', function (e) {
                loadModifiersTab();
            });

            function loadItemsTab() {
                $.ajax({
                    url: '@Url.Action("LoadItemTab", "Menu")',
                    type: 'GET',
                    success: function (data) {
                        $('#items').html(data);
                    }
                });
            }

            function loadModifiersTab() {
                $.ajax({
                    url: '@Url.Action("LoadModifierTab", "Menu")',
                    type: 'GET',
                    success: function (data) {
                        $('#modifiers').html(data);
                    }
                });
            }

            loadItemsTab(); 
        });
    </script>
}