@using Entity.Data
@model IEnumerable<ModifierGroup>
@{
    Layout = "_Layout";
}

<div class="d-flex justify-content-between align-items-center m-3">
    <h4>Menu</h4>
</div>
<div class="card-md-8 col-lg-11 mb-4 justify-content-center align-items-center flex-wrap">
    <div class="card">
        @Html.Partial("_MenuTabs")
        <div class="d-flex row">
            <div class="col-auto">
                <nav class="nav flex-column left_bar bg-light">
                    <a class="navbar-brand nav-link p-4 d-flex justify-content-between" style="color:#0066a6">
                        <div><b>Modifier Groups</b></div>
                        <div><i type="button" class="bi bi-plus-square" data-toggle="modal" data-target="#addModifierGroupModal"></i></div>
                    </a>
                    <div class="overflow-auto">
                        @foreach (var group in Model)
                        {
                            <a class="nav-link" href="@Url.Action("Modifiers", "Menu", new { groupId = group.Id })">@group.Name</a>
                        }
                    </div>
                </nav>
            </div>
            <div class="col-lg-9 justify-content-center align-items-center">
                <h4>Modifiers</h4>
                <div class="d-flex justify-content-end align-items-center m-3">
                    <div class="p-2">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    </div>
                    <div>
                        <button><i class="bi bi-trash m-1" data-toggle="modal" data-target="#deleteModal"></i></button>
                    </div>
                    <div class="p-2">
                        <a href="add_modifier.html" class="btn btn-primary">+ New Modifier</a>
                    </div>
                </div>
                @await Html.PartialAsync("_ModifierList", ViewBag.Items as List<Modifier>)
            </div>
        </div>
    </div>
</div>