@{
    Layout = "_AuthLayout";
}
@model Entity.ViewModel.ForgotPassword

@{
    ViewData["Title"] = "Forgot Password";
}
<form asp-action="ForgotPassword" method="post" id="ForgotPasswordForm" class="auth-form">
    <h3>Forgot Password</h3><br>
    <div class="mb-2 d-flex">
        <br>
        <p style="color:grey">Enter your email and we'll send you a link to reset your password.</p>
    </div>
    <div class="mb-3 d-flex">
        <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Email*" value="@Model?.Email">
        <i class="fa fa-user input-icon"></i>
    </div>
    <span asp-validation-for="Email" class="text-danger"></span>
    <input type="submit" value="Send" class="btn fill-btn">
    <a asp-controller="Accounts" asp-action="Index"
        class="d-flex btn back-btn justify-content-center align-items-center back">Back to login</a>
</form>

@section Scripts {
    <script>
        $('#ForgotPasswordForm').submit(function (e) {
            if (!$(this).valid()) {
                e.preventDefault();
                });
            }
        });
    </script>
}