@{
    Layout = "_AuthLayout";
}
@model Entity.ViewModel.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}
<form asp-action="ResetPassword" method="post" id="resetPasswordForm" class="auth-form">
    <input type="hidden" name="token" value="@ViewBag.Token" />
    <h3 class="pt-3 pb-3">Reset Your Password</h3>
    <div class="d-flex">
        <input asp-for="Email" type="email" class="form-control" readonly hidden>
        <input asp-for="NewPassword" type="password" id="new-password" class="form-control" placeholder="New Password*">
        <i class="fa fa-eye eye-icon" onclick="togglePassword('new-password', this)"></i>
    </div>
    <span asp-validation-for="NewPassword" class="text-danger"></span>
    <div class="mt-3 d-flex">
        <input asp-for="ConfirmPassword" type="password" id="confirm-password" class="form-control" placeholder="Confirm New Password*">
        <i class="fa fa-eye eye-icon" onclick="togglePassword('confirm-password', this)"></i>
    </div>
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    <input type="submit" value="Submit" class="btn fill-btn">
    <a asp-controller="Accounts" asp-action="Login" class="d-flex btn back-btn justify-content-center align-items-center back">Back to login</a>
</form>

@section Scripts {
    <script>
        function togglePassword(inputId, icon) {
            var passwordField = document.getElementById(inputId);
            if (passwordField.type === "password") {
                passwordField.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                passwordField.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }

        $(document).ready(function () {
            $('#resetPasswordForm').submit(function (e) {
                if (!$(this).valid()) {
                    e.preventDefault();
                }
            });
        });
    </script>
}
