@model Entity.ViewModel.TaxandFeeViewModel

<div class="modal-header">
    <h5 class="modal-title" id="taxModalLabel">@(Model.Id == 0 ? "Add New Tax" : "Edit Tax")</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="taxForm" method="post" action="@(Model.Id == 0 ? "/tax/addtax" : "/tax/edit")">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <input type="text" class="form-control" asp-for="Name" placeholder="Name*" style="height: 50px;">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-xl-12 mt-2">
            <div class="row g-2">
                <div class="form-floating col-xl-6 col-12">
                    <select id="Type" name="Type" class="form-select" asp-for="Type">
                        <option value="" hidden>Tax Type</option>
                        <option value="true">Percentage</option>
                        <option value="false">Flat Item</option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                    <label for="Type" class="float">Type*</label>
                </div>
                <div class="form-floating col-xl-6 col-12">
                    <input type="text" class="form-control" asp-for="TaxValue" id="Rate" placeholder="Tax Amount*">
                    <label for="Rate" class="float">Tax Amount*</label>
                    <span asp-validation-for="TaxValue" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="col-xl-12 mt-2">
            <div class="row g-2">
                <div class="col-md-4 mb-3 justify-content-start">
                    <div class="form-check form-switch" style="display: flex; gap: 10px; align-items: center;">
                        <input asp-for="IsActive" class="form-check-input" type="checkbox"
                            style="height: 30px; width: 50px;">
                        <label asp-for="IsActive">IsEnabled</label>
                    </div>
                </div>
                <div class="col-md-4 mb-3 align-content-start justify-content-start">
                    <div class="form-check form-switch" style="display: flex; gap: 10px; align-items: center;">
                        <input asp-for="IsDefault" class="form-check-input" type="checkbox"
                            style="height: 30px; width: 50px;">
                        <label asp-for="IsDefault">Default</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn"
                style="height: 40px; width: 80px; background-color: #0066A7; color: white; margin-top: 0; margin-bottom: 0;">Save</button>
            <button type="button" class="btn" data-bs-dismiss="modal"
                style="height: 40px; width: 80px; color: #0066A7; background-color: white; border: 1px solid #0066A7; margin-top: 0; margin-bottom: 0;">Cancel</button>
        </div>
    </form>
</div>

