@model IEnumerable<Entity.Data.TaxesAndFee>

@{
    ViewData["Title"] = "TaxList";
    var searchString = ViewBag.SearchString as string;
}
<div class="container-fluid" style="padding: 20px !important;">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="d-flex justify-content-start align-items-center">
            <h2><b>Taxes/Fees</b></h2>
        </div>
        <div class="upper-div d-flex justify-content-end">
            <div class="d-flex justify-content-center align-items-center">
                <div class="search-box" style="margin-right: 13px;">
                    <input type="text" name="search" id="searchInput" placeholder="Search">
                    <i class="fa-solid fa-magnifying-glass search-btn"></i>
                </div>

                <a href="javascript:void(0);" class="btn btn-primary d-flex add-tax-btn justify-content-center align-items-center" data-bs-toggle="modal"
                    data-bs-target="#taxModal" style="height:43px; border-radius:5px;">
                    <span class="part-1"><i class="fa-solid fa-plus "></i></span>
                    <span class="part-2"> New Tax </span>
                </a>

                <div class="modal fade" id="taxModal" tabindex="-1" aria-labelledby="taxModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="taxList">
        @Html.Partial("_TaxTablePartial", Model)
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Deletion Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                    <img src="@Url.Content("~/assets/warning.png")" alt="" style="height: 40px; width: auto;">
                    Are you sure you want to delete this tax?
                </div>
                <div class="d-flex justify-content-center align-items-center" style="gap: 10px; margin-bottom: 20px;">
                    <button type="button" class="btn btn-danger" id="confirmDeleteButton"
                        style="height: 40px; width: 100px; background-color: #0066A7; color: white; border: 1px solid #0066A7;">Yes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        style="height: 40px; width: 100px; background-color: white; color: #0066A7; border: 1px solid #0066A7;">No</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            @if (TempData["SuccessMessage"] != null)
                {
                    <text>
                        toastr.success("@TempData["SuccessMessage"]");
                    </text>
            }

                @if (TempData["ErrorMessage"] != null)
                {
                    <text>
                        toastr.error("@TempData["ErrorMessage"]");
                    </text>
            }

                $('#searchInput').on('keyup', function () {
                    var searchTerm = $(this).val().toLowerCase();
                    $.ajax({
                        type: "GET",
                        url: "/tax/search",
                        data: { query: searchTerm },
                        success: function (data) {
                            $('#taxList').html(data);
                        },
                        error: handleAjaxError
                    });
                });

            $(document).on('click', '.add-tax-btn', function () {
                $.ajax({
                    type: "GET",
                    url: "/tax/taxform",
                    dataType: "html",
                    headers: { 'X-Requested-With': 'XMLHttpRequest' },
                    success: function (data) {
                        $("#taxModal").find('.modal-content').html(data);
                        $('#taxModal').modal('show');
                    },
                    error: handleAjaxError
                });
            });

            $(document).on('click', '.edit-tax', function () {
                var id = $(this).data('id');
                $.ajax({
                    type: "GET",
                    url: "/tax/taxform?id=" + id,
                    dataType: "html",
                    headers: { 'X-Requested-With': 'XMLHttpRequest' },
                    success: function (data) {
                        $("#taxModal").find('.modal-content').html(data);
                        $('#taxModal').modal('show');

                    },
                    error: handleAjaxError
                });
            });

            $(document).on('submit', '#taxForm', function (e) {
                e.preventDefault();
                var form = $(this);
                 if (!validateTaxValue()) {
                        return;
                    }
                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function (response) {
                        if (response.success) {
                            toastr.success(response.message);
                            $('#taxModal').modal('hide');
                            location.reload();
                        } else {
                            $("#taxModal").find('.modal-content').html(response);
                        }
                    },
                    error: handleAjaxError

                });
            });

            window.confirmDelete = function (taxId) {
                const modal = new bootstrap.Modal(document.getElementById('deleteModal'));
                document.getElementById("confirmDeleteButton").onclick = function () {
                    $.ajax({
                        type: 'POST',
                        url: '/tax/delete/' + taxId,
                        data: {
                            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                        },
                        success: function (response) {
                            modal.hide();
                            toastr.success("Tax deleted successfully.");
                            $('tr[data-id="' + taxId + '"]').remove();
                        },
                        error: handleAjaxError
                    });
                };
                modal.show();
            };
            function validateTaxValue() {
                var taxType = $('#Type').val();
                var taxValue = parseFloat($('#Rate').val());

                if (taxType === 'true' && (taxValue < 0 || taxValue > 100)) {
                    toastr.error("Tax Value must be between 0 and 100 for percentage type.");
                    return false;
                } else if (taxType === 'false' && taxValue < 0) {
                    toastr.error("Tax Value must be non-negative for flat amount type.");
                    return false;
                }
                return true;
            }
            function handleAjaxError(xhr, status, error) {
                if (xhr.status === 401) {
                    toastr.error("You are not authenticated. Please log in.");
                } else if (xhr.status === 403) {
                    toastr.error(xhr.responseJSON && xhr.responseJSON.message ? xhr.responseJSON.message : "You are not authorized to perform this action.");
                    $('.modal-backdrop').remove();
                } else {
                    toastr.error("An error occurred while processing your request. Please try again.");
                    console.error("Error details:", status, error, xhr.responseText);
                }
            }
        });
    </script>
}