@model IEnumerable<Entity.ViewModel.OrderViewModel>

@{
    ViewData["Title"] = "Orders";
}

<h2>Orders</h2>

<div class="d-flex justify-content-end align-items-center">
    <form method="get" class="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" id="searchInput" aria-label="Search" name="searchString" aria-describedby="search-addon" />
            <i class="fa-solid fa-magnifying-glass search-btn"></i>
        </div>
    </form>
</div>

<div id="ordersPartial">
    @Html.Partial("_OrderList", Model)
</div>
@section Scripts {
<script>
    $(document).ready(function () {
        $('#searchInput').on('input', function () {
            loadOrders(1);
        });

        $('#pageSizeTable').change(function () {
            loadOrders(1);
        });

        $('#sortColumn, #sortDirection').change(function () {
            loadOrders(1);
        });
    });

    function loadOrders(pageIndex) {
        var searchTerm = $('#searchInput').val().trim();
        var pageSize = $('#pageSizeTable').val() || 5;
        var sortOrder = $('#sortOrder').val();

        $.ajax({
            url: '@Url.Action("Order", "Order")',
            type: 'GET',
            data: {
                searchTerm: searchTerm,
                pageIndex: pageIndex,
                pageSize: pageSize,
                sortOrder: sortOrder
            },
            success: function (result) {
                $('#ordersPartial').html(result);
            },
            error: function (xhr, status, error) {
                console.error(error);
                toastr.error("An error occurred while fetching the items. Please try again.");
            }
        });
    }

    function toggleSort(column) {
        var sortOrder = $('#sortOrder').val();
        if (sortOrder === column + '_asc') {
            sortOrder = column + '_desc';
        } else {
            sortOrder = column + '_asc';
        }
        $('#sortOrder').val(sortOrder);
        loadOrders(1);
    }
</script>
}