.page-title {
    font-weight: bold;
    color: #0066a6;
}

.dashboard-container {
    display: flex;
    padding:8px;
    margin: 2px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
@media (min-width: 1026px) {
    .high{
        height: 170px;
    }
}


.dashboard-card {
    flex: 1;
    min-width: 200px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}


.card-value {
    font-size: 26px;
    color: #333;
    margin-bottom: 5px;
    margin-top: auto;
}

.card-title {
    font-size: 14px;
    color: #555;
    margin-bottom: 0;
}

.card-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.img-fluid {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    display: block;
    margin: auto;
}
.item-table {
    width: 75%;
    border-collapse: collapse;
    margin-top: 0;
}

.item-table td {
    padding: 3px 3px;
    vertical-align: middle;
}
.item-table tr {
    border-bottom: 1px solid #ccc;
}

.item-table img {
    width: 35px;
    height: 35px;
}

.item-name {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.order-count {
    font-size: 12px;
    color: #555;
}

.order-count {
    display: block;
    font-size: 14px;
    color: #555;
    margin-top: auto;
}
.icon-container {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 2px;
    box-shadow: 0 0 0 5px rgb(255, 255, 255);
    Outline: 1px solid rgba(0,0,0,0.4);
    outline-offset :5px;

}

.icon-container img {
    width: 50%; 
    height: auto;
}

.icon-sales {
    background-color:rgba(42, 253, 91, 0.637);
    outline-color:rgba(42, 253, 91, 0.637) ;
}

.icon-orders {
    background-color: rgba(107, 108, 209, 0.61); 
    outline-color:rgba(107, 108, 209, 0.61) ;

}

.icon-value {
    background-color: rgba(0, 123, 255, 0.2); 
    outline-color:rgba(0, 123, 255, 0.2) ;

}

.icon-waiting {
    background-color: rgba(236, 27, 48, 0.384); 
    outline-color:rgba(236, 27, 48, 0.384) ;

}
.icon-waiting-list {
    background-color: rgba(255, 209, 3, 0.712);
    outline-color:rgba(255, 209, 3, 0.712) ;
 
}
.icon-customer {
    background-color: rgba(255, 127, 8, 0.61); 
    outline-color:rgba(255, 127, 8, 0.61) ;

}