body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.left-section {
    height: 100vh;
    margin:0;
    padding:0;
}
.fa{
    padding:-3px;
}
.left-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-section {
    flex-direction: column;
    margin:0;
    padding:0;
    background-color: #d7eff7;
}
.heading{
    color:#6f9fbd;
    font: normal normal 300 40px/47px Roboto;
}
.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.pizza-logo {
    height: 80px;
    width: 80px;
}

.auth-form input {
    padding: 10px;
    margin-bottom: 15px;
}

.fill-btn {
    background-color: #006098;
    color: white;
    width: 100%;
}