
@{
    Layout = "";
}
@{
    ViewData["Title"] = "404 - Page Not Found";
}

<div style="width: 100%; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; background-color: #e8f7ff;">
    <div style=" display: flex; justify-content: center; align-items: top;">
        <div class="align-items-center" style="color: #02639b; display: inline-block; border-radius: 10px;">
            <img src="/assets/pizzashop_logo.png" alt="Pizzashop Logo" style="width:60px; border-radius:50%;">
            <h1 style="color: #02639b; font-size: 45px; display: inline-block; margin: 0 10px;">PIZZASHOP</h1>
        </div>
    </div>
    <div style="flex: 1; display: flex; flex-direction: column; justify-content: center;">
        <h1 style="font-size: 250px; color: #02639b; margin: 20px 0;"><b>404</b></h1>
        <h3>Page Not Found</h3>
        <p style="color: #02639b;">Oops, the page you're looking for isn't here</p>
        <div style=" display:flex; justify-content:center;padding-top:10px;"> 
            <a href="javascript:history.back()"
            style="text-decoration: none; color: white; background-color: #02639b; padding: 10px 20px; border-radius: 5px; margin: 10px; width:80px;">Go
            Back</a>
            </div>
    </div>
</div>