<div class="tab-container bg-white m-1 ml-10 d-flex">
    <div class="tab active-tab" onclick="location.href='@Url.Action("MenuList", "Menu")'">
        <span class="mx-2"><i class="fa-solid fa-list"></i> Items</span>
    </div>
    <div class="tab" onclick="location.href='@Url.Action("ModifiersList", "Modifier")'">
        <img src="~/assets/ui-checks-grid.svg" alt="Modifier-icon" />Modifiers
    </div>
</div>