<div class="tab-container d-flex">
    <div class="tab active-tab" onclick="location.href='@Url.Action("Items", "Menu")'">Items</div>
    <div class="tab" onclick="location.href='@Url.Action("Modifiers", "Menu")'">Modifiers</div>
</div>