<div class="tab-container d-flex">
    <div class="tab active-tab" onclick="location.href='@Url.Action("Items", "Menu")'"><i class="fa fa-bars p-2" aria-hidden="true"></i> Items</div>
    <div class="tab" onclick="location.href='@Url.Action("Modifiers", "Menu")'">Modifiers</div>
</div>