@model IEnumerable<Entity.Data.Role>

@{
    ViewData["Title"] = "Role";
}

<div class="role" >
<table class="table table-responsive mx-4 my-4 rtable " >
    <thead>
        <tr>
            <th>Role</th>
            <th class="text-end">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td ><b>@role.Name</b></td>
                <td class="text-end">
                    <a asp-action="Permission" asp-route-id="@role.Id"><i class="bi bi-pen m-1"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
